# Python (FastAPI)
backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/env/

# Node.js (Frontend)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Flutter (Mobile)
mobile/.dart_tool/
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/*.sublime-project
mobile/*.sublime-workspace
mobile/.metadata
mobile/android/local.properties
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh

# IDEs & System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
